<div class="container color mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold"> Tasks
                <a class="btn btn-danger btn-sm" routerLink="/newtarefa">new</a>
            </p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio perspiciatis
                veniam unde cupiditate, officiis nulla est nemo voluptate explicabo laboriosam harum fugit voluptates
                reiciendis obcaecati vero rerum deleniti non accusamus!
            </p>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" placeholder="Search User" type="text">
                            </div>
                            <div class="col">
                                <input class="btn btn-outline-light" type="submit" value="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="container mt-3 ">
    <div class="row" cdkDropListGroup>
            
        <!-- primeria coluna-->
        <div  cdkDropList [cdkDropListData]="tarefas" 
        class="col-3 bckg mx-1 color Em-Andamento"
        (cdkDropListDropped)="drop($event)"> 

            <div class="d-flex justify-content-center mt-2">
                <p class="m-0">Em andamento</p>
                <div>
                    <i class="bi bi-hourglass-split px-2"></i>
                </div>
            </div>
        
            <div class="card mt-2 card bckgcard shadow Tarefa "*ngFor="let task of tarefas" cdkDrag>

                
                <div class="card-body d-flex flex-row justify-content-between p-2 " >
                    <div>
                        {{task.titulotarefa}}
                    </div>
                    <div >
                        <i class="bi bi-three-dots-vertical px-2"></i>
                    </div>
                </div>
                
                <div class="p-2"[ngSwitch]="task.status.id">
                    
                    <span class="badge bg-warning text-dark" *ngSwitchCase="1">Em Andamento</span>
                    <span class="badge bg-success" *ngSwitchCase="2">Concluido </span>
                    <span class="badge bg-danger" *ngSwitchCase="13">Em Atraso</span>
                    
                </div>
               
                
            </div>
                
        </div>

        <!-- segunda coluna-->
        <div cdkDropList [cdkDropListData]="tarefasconc"
        class="col-3 bckg mx-1 color Concluido" 
        (cdkDropListDropped)="drop($event)">

            <div class="d-flex justify-content-center mt-2">
                <p class="m-0">Concluido</p>
                <i class="bi bi-card-checklist px-2"></i>
            </div>
            <div class="card mt-2 card bckgcard shadow Tarefa "*ngFor="let teste of tarefasconc" cdkDrag>
               

                <div class="card-body d-flex flex-row justify-content-between p-2 " >
                    <div>
                        {{teste.titulotarefa}}
                    </div>
                    <div >
                        <i class="bi bi-three-dots-vertical px-2"></i>
                    </div>
                </div>

                <div class="p-2"[ngSwitch]="teste.status.id">
                    
                    <span class="badge bg-warning text-dark" *ngSwitchCase="1">Em Andamento</span>
                    <span class="badge bg-success" *ngSwitchCase="2">Concluido </span>
                    <span class="badge bg-danger" *ngSwitchCase="13">Em Atraso</span>
                    
                </div>
              
                
            </div>
        </div>

        <!-- terceira coluna-->
        <div cdkDropList [cdkDropListData]="tarefasatraz"
        class="col-3 bckg mx-1 color Em-Atraso"
        (cdkDropListDropped)="drop($event)">

            <div class="d-flex justify-content-center mt-2">
                <p class="m-0">Em atraso</p>
                <i class="bi bi-stopwatch px-2"></i>
            </div>
            <div class="card mt-2 card bckgcard shadow Tarefa "*ngFor="let teste1 of tarefasatraz" cdkDrag>
               
               
                <div class="card-body d-flex flex-row justify-content-between p-2 " >
                    <div>
                        {{teste1.titulotarefa}}
                    </div>
                    <div >
                        <i class="bi bi-three-dots-vertical px-2"></i>
                    </div>
                </div>

                <div class="p-2"[ngSwitch]="teste1.status.id">
                    
                    <span class="badge bg-warning text-dark" *ngSwitchCase="1">Em Andamento</span>
                    <span class="badge bg-success" *ngSwitchCase="2">Concluido </span>
                    <span class="badge bg-danger" *ngSwitchCase="13">Em Atraso</span>
                    
                </div>
                
                
            </div>

        </div>
    </div>


</div>



    

<!-- Cards-->
    <!--<div *ngIf="!loading && tarefas.length > 0"class="container mt-3">-->
    <!--<div  *ngFor="let tarefa of tarefas" class="col-md-4 mt-4 shadow-lg">-->
<!--
        <div *ngIf="!loading && tarefas.length > 0"class="container mt-3">
            <div class = "row">
                <div  *ngFor="let tarefa of tarefas " class="col-5 mt-3">
                    <div class="row row-cols-1 row-cols-md-1 g-4">
                        <div class="col">
                          <div class="card">
                            <div class="card-body">
                                
                                <h5 class="card-title">{{tarefa.titulotarefa}}</h5>
                              <p class="card-text">{{tarefa.descricaotarefa}}</p>
                            </div>
                            <div class="card-footer">
                                
                                <div class="d-flex justify-content-between align-items-center"[ngSwitch]="tarefa.status.id"> 
                                    <div>
                                        <small class="text-muted">Prazo: {{tarefa.prazoconclusao}}</small>
                                        <span class="px-2"></span>
                                        <i class="bi bi-circle-fill ball" *ngSwitchCase="2"></i>
                                        <i class="bi bi-circle-fill balll" *ngSwitchCase="1"></i>
                                        <i class="bi bi-circle-fill ballll" *ngSwitchCase="13"></i>
                                    </div>
                                    <div>
                                        <a routerLink="/edit/{{tarefa.idtarefa}}"></a>
                                        <i class="bi bi-eyeglasses azul botoesicones"></i><span class="px-1"></span>
                                                
                                        <a (click)="clickDeleteTarefa(tarefa.idtarefa)">
                                        <i class="bi bi-trash3-fill azul botoesicones"></i></a><span class="px-1"></span>
    
                                        <a routerLink="/edit/{{tarefa.idtarefa}}">
                                        <i class="bi bi-pencil-fill azul botoesicones"></i></a><span class="px-1"></span>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
-->