.fundo{
    background-color: #fafafa;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    margin-top: 4%;
    margin-left: 0;
    margin-right: 0;
}

.jumb{
    background-image: url('https://imgur.com/hpk33p9.png');
    background-color: rgba(23, 20, 20, 0.744);
    background-blend-mode: multiply;
    background-size: cover;
    opacity: 1;
}
input{
    opacity: 70%;
    width: 50%;

}
select{
    opacity: 70%;
    width: 50%;
}
textarea{
    opacity: 70%;
    width:50%;
}
.hr{
    background-color: #EAAB51;
  }

.container {
   
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.botao{
    background-color: #ff6543;
    color: #fafafa;
}
.ml-50 {
    margin-left: 650px;
  
}
.titulo{
    color:#EAAB51;
    font-size: 60px;
    text-align-last: center !important;
    text-shadow: #070707
    !important;
  }
.subtit{
    color:#EAAB51;
  font-size: 50px;
  text-align-last: center !important;

  }
  
  .colortext{
    color:#441910;
  }
  
   