<div class="bkg" id="homeadmin">
  <div class="row col-md-12">
    <p class=""></p>
  </div>
 
  <div class="jumbotron jumb mt-4 ">
    <h1 class=" titulo fw-bold ml-5">ÁREA DO ADMINISTRADOR</h1>
    <p class=" subtit  fw-bold ml-5">Página para controle dos produtos e categorias.</p>
   
    <div class="centro">
    <a class="btn corbt text-white " href="#" role="button" data-toggle="modal" 
    data-target="#novoProduto">Cadastrar Produto</a>
  </div>
  </div>
  <hr class="hr">
  <div class="container-md justify-content-center aling-items-center mt-5 ">


    <div class="row d-flex align-items-center">
      <div class="col-lg-6 col-sm-6" *ngFor="let item of listaProdutos">

        <div class="card mb-4 bkgcard shadow p-3 mb-5 bg-white rounded">
          <div class="row no-gutters ">
            <div class="col-md-4 mt-4">
              <img src="{{item.foto}}" class="img-fluid hov" width="150px" height="150px" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">

                <h3 class="card-title">{{item.nome}}</h3>
                <div class=""[ngSwitch]="item.categoria.id">
                  <div class="badge bg-warning text-white mb-4" *ngSwitchCase="19">Massas</div>
                  <div class="badge bg-success text-white mb-4" *ngSwitchCase="5">Vegetariano</div>
                  <div class="badge bg-primary text-white mb-4" *ngSwitchCase="14">Sobremesas</div>
                  <div class="badge bg-danger text-white mb-4" *ngSwitchCase="15">Carne</div>
                  <div class="badge bg-warning  text-white mb-4" *ngSwitchCase="20">Salgados</div>
                  <div class="badge bg-primary  text-white mb-4" *ngSwitchCase="21">Bebidas</div>
              
                <p class="card-text">{{item.descricao}}</p>

                <div class="d-flex justify-content-end mr-4">
                  <div class="text-white text-lg preco">R$: {{item.valor}}</div>
                </div>

                <div class="d-flex .flex-column justify-content-start align-items-center">
                  <button type="button" class="btn btn-sm btn-primary mr-2" [routerLink]="['/edit-produto', item.id]">Atualizar</button>
                  <button type="button" class="btn btn-sm btn-danger mr-4" [routerLink]="['/produto-delete', item.id]" >Deletar</button>
                </div>


              </div>
            </div>
          </div>
        </div>

      </div>
      

      </div>

    </div>

    <div class="container-fluid">

      <div class="row bgtema">
        <div class="col-md-12 text-white mt-5">
    
          <h1 class="fs-54 text-center text-dark fbold">Categorias</h1>
          <h5 class="fs-18 text-center text-dark fbold">Veja aqui todas as categorias cadastradas ou cadastre uma nova:</h5>
    
          <div class="row d-flex justify-content-center mt-4 mb-5">
            <div class="col-md-3">
              <div class="form-group">
                  <input [(ngModel)]='categoria.tipo' type="text" class="form-control mb-3" id="descricao" placeholder="Digite o tipo da categoria">
                <input [(ngModel)]='categoria.descricao' type="text" class="form-control" id="descricao" placeholder="Digite a descrição da categoria">
              </div>
    
              <div class="d-flex justify-content-center">
                <button class="btn btn-light" (click)='cadastrar()'>Cadastrar</button>
              </div>
    
            </div>
          </div>
    
        </div>
      </div>
    
    </div>
    
          <div class="p-3 mb-2 bg-dark text-white bg-cor justify-content-center d-flex fbold">Categorias Cadastrados</div>
    
          <div class="container-md justify-content-center aling-items-center mt-5 ">
    
    
              <div class="row d-flex align-items-center">
            <div class="row d-flex align-items-center ">
    
              <div class="col-lg-4 col-sm-4 " *ngFor="let item of listaCategorias">

          <div class="card card bg-light mb-3">
            <div class="card-header">{{item.tipo}}</div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">{{item.descricao}}</p>
              <div class="d-flex .flex-column justify-content-start align-items-center ">
                <button type="button" class="btn btn-sm btn-primary mr-2" [routerLink]="['/edit-categoria', item.id]">Atualizar</button>
                <button type="button" class="btn btn-sm btn-danger mr-4"[routerLink]="['/categoria-delete', item.id]">Deletar</button>
              </div>
            </div>
          </div>

        </div>

        

        </div>

      </div>

    </div>
  </div>



  <!-- Modal -->

  <div class="modal fade" id="novoProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Novo produto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="titulo">Nome</label>
            <input [(ngModel)]="produto.nome" type="text" class="form-control" id="nome" placeholder="Digite o nome">
          </div>

          <div class="form-group">
            <label for="texto">Valor</label>
            <input [(ngModel)]="produto.valor" type="text" class="form-control" id="valor" placeholder="Digite o valor">
          </div>
<div class="form-group">
            <label for="texto">Descrição</label>
            <input [(ngModel)]="produto.descricao" type="text" class="form-control" id="descricao" placeholder="Digite a descrição do produto">
          </div>

          <div class="form-group">
            <label for="texto">Peso</label>
            <input [(ngModel)]="produto.peso" type="text" class="form-control" id="peso" placeholder="Digite o peso">
          </div>

          <div class="form-group">
            <label for="texto">Foto</label>
            <input [(ngModel)]="produto.foto" type="text" class="form-control" id="foto" placeholder="Link da foto do produto">
          </div>

          <div class="form-group">
            <label for="texto">Escolha uma categoria</label>
            <select name="categoria" id="categoria"class="form-control" [(ngModel)]="idCategoria">
                <option *ngFor="let item of listaCategorias" value="{{item.id}}">
                {{item.tipo}}
                </option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="publicar()" data-dismiss="modal">Publicar</button>
        </div>
      </div>
    </div>
  </div>
