<div class="container mt-3">
    <div class="row">
        <div class="col color">
            <p class="h3 fw-bold"> New Task</p>
            <p class="fst-italic">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam voluptatum exercitationem, velit maxime error eum totam, repellendus quo cumque dolorum consequuntur quaerat. Et, accusamus saepe. Aliquam quos ad nihil commodi.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">

            <!-- form (submit) = "createSubmit()" -->
            <form (submit) = "createSubmit()">
                <div class="mb-2">
                    <label for="titulo" class="form-label color">Titulo:</label>
                    <input [(ngModel)]="tarefa.titulotarefa" name="titulotarefa" class="form-control"  type="text">
                </div>

                <div class="mb-3">
                    <label for="descricao" class="form-label color">Descrição da Tarefa:</label>
                    <textarea [(ngModel)]="tarefa.descricaotarefa" class="form-control" name="descricaotarefa" id="descricao" rows="4"></textarea>
                </div>

                <div class="color">Prazo para conlcusao:</div>
                <div class="mb-2">
                    <input [(ngModel)]="tarefa.prazoconclusao" name="prazoconclusao" class="form-control" placeholder="AAAA-MM-DD" type="text">
                </div>
                <div class="mb-2">
                    <label for="titulo" class="form-label color">Selecione um status para a tarefa:</label>
                    <select [(ngModel)]="idstatus" name="status"  *ngIf="status.length > 0" class="form-control">
                        <option value="">Selecione um status</option>
                        <option *ngFor="let statuss of status" [value]="statuss.id">{{statuss.etiqueta}} </option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" value="Create" type="submit" >
                    <a class="btn btn-light ms-2" routerLink="/Home">Fechar</a>
                </div>
                
            </form>

        </div>
        
    </div>
</div>
