<div class="img-fundo mb-5">
  <!--first panel-->

  <br />
  <div class="jumbotron jumb ">
    <h1 class="font-weight-bolder titulo mt-5 mb-5">SOBRE NÓS</h1>


  </div>
  <hr class="subtit">
  <!--second panel-->
  <div class="container">
    <div class="d-flex box1 justify-content-center ">
      <div class="imgcontainer2 justify-content-center d-flex align-items-center">

      </div>

      <div class="container justify-content-center">
        <div class="col-md-12 ">
          <h2 class="mt-5">
            NOSSA MISSÃO
          </h2>
          <p class="colortext font-italic">Não somos um resturante comum. Nós temos uma missão!</p>
          <p class="colortext">
            Atentos a realidade social, nós do EatIt criamos iniciativas para minimizar a situação de fome garantindo o
            direito a alimentação, nutrição e segurança alimentar.</p>
          <p>Nosso projeto tem como objetivo apoiar uma causa social, onde desenvolvemos um sistema que na compra de um
            prato
            de comida parte do valor do produto é direcionado a aquisição de alimentos para pessoas em situação de
            extrema fome. </p>

        </div>
      </div>
    </div>
  </div>

  <br />

  <!--third panel-->
  <div class="container">
    <div class="d-flex box1 justify-content-center ">
      <div class="container">
        <div class="col-md-12 ">
          <h2 class="mt-5">
            O IMPACTO
          </h2>
          <p class="colortext font-italic">Com a fome de muitos, se condena a opulencia e a omissão de outros.

          </p>

          <p class="colortext font-italic">
            - Ivan Teorilang
          </p>

          <p class="colortext">
            Nós temos mentalidade de crescimento e queremos expandir nossa ação e fazer com que nosso projeto atinja o
            maximo de pessoas necessitadas possiveis.
          </p>
          <p>Para isso, buscamos parcerias com ONG's que tem o mesmo objetivo e consegue mapear em nossa sociedade as
            pessoas que realmente precisam, tornando nosso objetivo direto e completo.</p>
        </div>
      </div>
      <div class="imgcontainer3 justify-content-center d-flex align-items-center">
      </div>
    </div>
  </div>

</div>
<hr class="subtit">
<h4 class="font-weight-bolder titulo mt-5 mb-5">  FUNDADORES</h4>
<!--CARDS COM AS FOTOS G5-->
<div class="container">
  <div class="card-group mt-5 mb-5">
    <div class="card">
      <img src="https://imgur.com/sABdheE.png" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title colortext">Armando Hector</h5>
        <p class="card-text colortext">Desenvolvedor React de alto desempenho, com paixão pela indústria de software
          dois anos de
          experiência em Front End e mais cinco anos em codificação, impactando resultados positivos através de minhas
          habilidades de resolução de problemas, tenacidade e capacidade de aprendizado. </p>
      </div>
      <div class="card-footer">

        <div>
          <a href="https://github.com/Projeto-Integrador-EatIt" target="_blank" class="icoGithub">
            <i class="fa fa-github-square mr-4" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/armando-hector-97a61519a/" target="_blank" class="icoLinkedin">
            <i class="fa fa-linkedin-square " aria-hidden="true"></i>
          </a>

        </div>

      </div>
    </div>
    <div class="card">
      <img src="https://imgur.com/LymXdcy.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title colortext">Edgard Henrique</h5>
        <p class="card-text colortext">Sou estudante da Generation Brasil, onde aprendi a codificar programas,
          profissionalismo,
          persistência, responsabilidade pessoal, orientação ao futuro, comunicação, orientação ao detalhe,
          proatividade, trabalho em equipe. Possuo conhecimento em Java, Spring Boot, Visual Studio, MySQL, Angular e
          como cargo pretendido gostaria de trabalhar como Full-Stack.</p>
      </div>
      <div class="card-footer">
        <div>
          <a href="https://github.com/Projeto-Integrador-EatIt" target="_blank" class="icoGithub">
            <i class="fa fa-github-square mr-4" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/edgard-henrique-da-silva-8a4192171/" target="_blank" class="icoLinkedin">
            <i class="fa fa-linkedin-square " aria-hidden="true"></i>
          </a>

        </div>
      </div>
    </div>
    <div class="card">
      <img src="https://imgur.com/q1GWl4H.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title colortext">Geovanna Duarte</h5>
        <p class="card-text colortext">Desenvolvedora Java Web Fullstack em formação no bootcamp da Generation Brasil!
          Tenho
          experiência profissional desde os meus 14 anos de idade, em 2020 comecei a trabalhar como freelancer em mídias
          sociais e criação de websites, o que acabou despertando o meu interesse pela tecnologia e decidi investir na
          minha carreira como Desenvolvedora Web.</p>
      </div>
      <div class="card-footer">
        <div>
          <a href="https://github.com/Projeto-Integrador-EatIt" target="_blank" class="icoGithub">
            <i class="fa fa-github-square mr-4" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/geovannaduarte/" target="_blank" class="icoLinkedin">
            <i class="fa fa-linkedin-square " aria-hidden="true"></i>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<hr class="subtit">
<!--CARDS COM AS FOTOS G5-->
<div class="container">
  <div class="card-group mt-5 mb-5">
    <div class="card">
      <img src="https://imgur.com/tGCONwK.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title colortext">Patricia Souza</h5>
        <p class="card-text colortext">A busca por conhecimento me faz ir atrás de novos
          desafios. Após trabalhar mais de dez anos na área
          da beleza, estou partindo para novas oportunidades
          e na realização do sonho de desenvolver sistemas.
          Atualmente focada em desenvolvimento Back -End
          com Java e Spring Boot, e aberta para aprender
          novas tecnologias. </p>
      </div>
      <div class="card-footer">

        <div>
          <a href="https://github.com/Projeto-Integrador-EatIt" target="_blank" class="icoGithub">
            <i class="fa fa-github-square mr-4" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/patricia-souza-developerjava/" target="_blank" class="icoLinkedin">
            <i class="fa fa-linkedin-square " aria-hidden="true"></i>
          </a>

        </div>

      </div>
    </div>
    <div class="card">
      <img src="https://imgur.com/N1Zo0nv.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title colortext">Renan Oliveira</h5>
        <p class="card-text colortext">Sou um profissional de finanças formado como técnico contábil que está em
          transição de carreira para a tecnologia. Participei de um programa intensivo de desenvolvimento web pela
          Generation Brasil, onde desenvolvi API-REST utilizando Java, Spring-boot e banco de dados relacionais (MYSQL).
          Aprendi também sobre fazer Testes Unitários com o Junit e documentar API com o Swagger. No front-end
          desenvolvi projetos utilizando frameworks como o Bootstrap e Angular. </p>
      </div>
      <div class="card-footer">
        <div>
          <a href="https://github.com/Projeto-Integrador-EatIt" target="_blank" class="icoGithub">
            <i class="fa fa-github-square mr-4" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/renanjar/" target="_blank" class="icoLinkedin">
            <i class="fa fa-linkedin-square " aria-hidden="true"></i>
          </a>

        </div>
      </div>
    </div>
    <div class="card">
      <img src="https://imgur.com/MAC7K77.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title colortext">Yhuri Gross</h5>
        <p class="card-text colortext">Participando do programa de formação para Pessoa Desenvolvedora Java Jr Full
          Stack da Generation Brasil, onde estou desenvolvendo minhas habilidades de persistência, trabalho em equipe,
          comunicação, e também habilidades técnicas voltadas para o back-end como Java, POO, Spring Boot, banco de
          dados relacional (MySQL), e tecnologias no front-end como Angular, Bootstrap, HTML, CSS, JavaScript e
          TypeScript.</p>
      </div>
      <div class="card-footer">
        <div>
          <a href="https://github.com/Projeto-Integrador-EatIt" target="_blank" class="icoGithub">
            <i class="fa fa-github-square mr-4" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/yhuri-gross/" target="_blank" class="icoLinkedin">
            <i class="fa fa-linkedin-square " aria-hidden="true"></i>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>